html, body {
  margin: 0;
  height: 100%;
  background: grey;
}

.header {
  height: 15%;
}

.footer {
  height: 15%;
}

.container {
  background: red;
  width: 1024px;
  height: 70%;
  margin: 0 auto;
}

.container div{
  float: left;
}
.control {
  width: 250px;
  background: white;
}

.display {
  width: 774px;
  height: 100%;
  background: white;
}

.display table {
  /*height: 100%;*/
  margin: 0 auto;
}

.display tr {
  background: red;
  height: 1%;
}

.display td {
  height: 1%;
}
